.sobreMim {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #FFFFFF;
    background-color: #212529;
    flex-wrap: wrap;
}

.textSection {
    position: relative; /* Adicionado para que o pseudo-elemento ::after funcione corretamente */
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 1%;
    padding-right: 2%;
    width: 45%; /* Usar porcentagens para largura */
}

.infoSection {
    margin-right: 10%;
    padding-left: 2%;
    text-align: left;
    border-left: 1px solid #FFFFFF;
    margin-top: 26%;
}
.h1 {
    margin-left: 15%;
}

.pp{
    margin-left: 25%;
    width: 100%;
}

.sobreMim h1 {
    font-size: 3rem;
    color: #FFFFFF;
    text-align: center;
    margin-left: 80%;
    margin-bottom: 20%; /* Ajuste para o espaço abaixo do título */
    position: relative; /* Necessário para o pseudo-elemento ::after */
    padding-bottom: 2%; /* Espaço extra para o sublinhado */
    width: 50%;
}

.sobreMim h1::after {
    content: '';
    position: absolute;
    left: 50%; /* Centraliza o sublinhado em relação ao texto */
    bottom: -5%; /* Ajuste para posicionar o sublinhado mais abaixo do texto */
    width: 15%; /* Ajuste a largura do sublinhado */
    height: 2px; /* Altura do sublinhado */
    background-color: #C23011; /* Cor do sublinhado */
    transform: translateX(-50%); /* Centraliza o sublinhado horizontalmente */
}

.sobreMim h2 {
    font-size: 180%; /* Usar porcentagem para o subtítulo */
    margin-bottom: 5%; /* Ajuste o espaço abaixo do subtítulo */
}

.sobreMim p {
    font-size: 120%;
    line-height: 1.6; /* Ajuste o espaçamento entre linhas */
    margin: 0 0 3%; /* Espaço abaixo dos parágrafos */
}

.whatsappButton {
    display: inline-block;
    background-color: #C23011;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 2% 4%;
    text-decoration: none;
    margin-top: 5%;
}

.whatsappButton:hover {
    background-color: #a03e0e; /* Cor de fundo mais escura para o efeito de hover */
}

.logos {
    margin-left: 30%;
    display: flex;
    justify-content: space-around; /* Centraliza as imagens horizontalmente */
    margin-top: -5%;
    width: 100%;
    margin-bottom: 5%;
}

.logo1, .logo2 {
    width: 50%; /* Ajusta o tamanho dos logos para porcentagem */
}

/* Para telas com largura de 1280px ou mais */
@media (max-width: 1280px) {
    .sobreMim {
        flex-direction: column;
        justify-content: center;
        padding: 5%;
    }

    .textSection {
        width: 100%;
        margin-left: 0;
        margin-bottom: 5%;
        padding-right: 0;
    }

    .infoSection {
        width: 100%;
        margin-top: 5%;
        padding-left: 25%;
        margin-right: 0;
        text-align: center;
        border-left: none;
    }

    .sobreMim h1 {
        font-size: 2.5rem;
        width: 80%;
        margin: 0 auto 5%;
        margin-bottom: 10%;
    }

    .sobreMim h2 {
        font-size: 150%;
        margin-left: -20%;
    }

    .sobreMim p {
        font-size: 110%;
        width: 90%;
        margin-left: -20%;
    }

    .whatsappButton {
        margin-top: 3%;
        font-size: 100%;
        margin-left: -50%;        
    }

    .logos {
        margin: 0;
        margin-top: 3%;
        flex-direction: row;
        justify-content: center;
        margin-left: 18%;
    }

    .logo1, .logo2 {
        width: 50%;
    }
}

/* Para telas com largura de 768px ou menos */
@media (max-width: 768px) {
    .sobreMim {
        flex-direction: column;
    }

    .textSection {
        width: 100%;
        margin-left: -80px;
        padding-right: 0;
        margin-top: 5%;
        text-align: center;
    }

    .infoSection {
        width: 100%;
        margin-top: 5%;
        padding-left: 0;
        border-left: none;
        margin-right: 0;
        text-align: center;
    }

    .h1 {
        font-size: 2rem;
    }
    
    .sobreMim h1 {
        margin-left: 22%;
        margin-bottom: 15%;
        width: 100%;
    }

    .sobreMim h2 {
        font-size: 130%;
        margin-bottom: 13%;
        margin-left: -7%;
    }

    .sobreMim p {
        font-size: 100%;
        width: 90%;
        margin-left: 5%;
    }

    .whatsappButton {
        margin-top: 10%;
        padding: 2% 4%;
        font-size: 90%;
    }

    .logos {
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
        margin-left: 30%;
    }

    .logo1, .logo2 {
        width: 40%;
        margin: 3% 0;
    }
}
