.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;
    height: 100vh; /* 100% da altura da viewport */
    padding: 2%; /* Padding relativo ao tamanho da tela */
    box-sizing: border-box;
    margin-top: 3%; /* Usar porcentagem para margem superior */
}

.profile {
    text-align: center;
    margin-bottom: 10%; /* Margem inferior relativa ao tamanho da sidebar */
}

.profilePic {
    border-radius: 50%;
    width: 40%; /* A largura agora será 20% da largura da sidebar */
    height: auto; /* Altura ajusta-se automaticamente para manter a proporção */
    object-fit: cover;
    box-shadow: 0 4px 8px #C23011;
    margin-bottom: 10%;
}

.name {
    margin: 2% 0; /* Margem superior e inferior em porcentagens */
    margin-bottom: 10%;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 100%; /* Largura total da sidebar */
    align-items: center;
}

.navItem {
    color: #fff;
    text-decoration: none;
    margin: 2% 0; /* Margens em porcentagem */
    padding: 2%; /* Padding em porcentagem */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    width: 80%; /* A largura dos itens do menu será 80% da sidebar */
    text-align: center;
    background-color: #000;
    margin-bottom: 20%;
    font-size: 1.2rem;
}

.navItem:hover {
    background-color: #C23011;
    color: #000;
}

.whatsappButton {
    background-color: #C23011;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-top: 20%;
    padding: 2%;
}

.whatsappButton:hover {
    background-color: #C23011;
}

.navItem2 {
    color: #C23011;
    text-decoration: none;
    margin: 2% 0;
    padding: 2%;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    width: 80%;
    text-align: center;
}

.navItem2:hover {
    background-color: #C23011;
    color: #000;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .sidebar {
        flex-direction: row;
        justify-content: space-between;
        padding: 2% 4%;
    }

    .profile {
        margin-bottom: 5%;
    }

    .profilePic {
        width: 25%; /* Menor em telas pequenas */
        height: auto;
    }

    .nav {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    .navItem, .navItem2, .whatsappButton {
        margin: 1%;
        padding: 2% 1%;
        font-size: 0.7rem;
    }
}
